$one:rgb(218, 170, 14);
$two:rgb(127, 236, 55);
$three:rgb(255, 255, 255);
$four:rgb(212, 213, 216);
$five:rgb(170, 240, 113);
$six:rgb(58, 107, 212);
$seven:rgb(49, 49, 48);
$eight:rgb(255, 255, 255);
